body {
    background-image: linear-gradient(90deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
}

.content {
    margin-top: 300px;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 30px 100px 0 black;
    transition: 0.3s ease-in-out;
}
.content:hover .card {
    filter: blur(10px);
    transform: scale(0.8);
}
.content .card:hover {
    filter: blur(0px);
    transform: scale(1.2);
}